@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap%22");
.DiscussionBoardSearch {
  height: 100%;
}

.discussionBoardSearchTitle {
  color: white;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}

.searchbar {
  width: 30em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
}

#discussionBoardSearchInput {
  width: inherit;
  font-family: "Roboto", sans-serif;
}

#results {
  position: absolute;
  width: inherit;
}

.DiscussionBoardSearchForm {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 40%;
}

.DBoardSearchResultsH1 {
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.threadView {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-image: linear-gradient(#2b1f66, #130f4b, #1e1a55);
  border-radius: 0.625em;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.threadViewTitle {
  font-size: 64px;
  text-align: left;
  padding-left: 20px;
  width: 90%;
  font-weight: bold;
}

.threadViewListingID {
  text-align: left;
  padding-left: 10%;
  font-size: 12px;
  color: gray;
}

.threadViewDescription {
  text-align: left;
  padding-left: 10%;
}

.ArrowIcon {
  height: 106px;
  width: 86px;
  position: absolute;
  right: 40px;
  bottom: 35px;
}

.FormButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2b1f66;
  color: white;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.FormButton:hover {
  cursor: pointer;
  background-color: #1e1a55;
}

.activeButton {
  background-color: dodgerblue;
}

.listControl {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px;
}
