@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.PanelBacground1 {
  background-image: linear-gradient(#2b1f66, #130f4b, #1e1a55);
  height: 100%;
  width: 45%;
  border-radius: 0.625em;
  margin-top: 1%;
  margin-left: 1%;
  display: inline-block;
  vertical-align: top;
}

.PanelBackground2 {
  background-image: linear-gradient(#2b1f66, #130f4b, #1e1a55);
  height: 100%;
  width: 52%;
  border-radius: 0.625em;
  margin-top: 1%;
  margin-left: 1%;
  display: inline-block;
  vertical-align: top;
}
