@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.BackgroundPanel1 {
    background-image: linear-gradient(#2b1f66, #130f4b, #1e1a55);
    height: 58em;
    width: 45%;
    border-radius: 0.625em;
    margin-top: 1%;
    margin-left: 1%;
    display: inline-block;
    vertical-align: top
}

.BackgroundPanel2 {
    background-image: linear-gradient(#2b1f66, #130f4b, #1e1a55);
    height: 58em;
    width: 52%;
    border-radius: 0.625em;
    margin-top: 1%;
    margin-left: 1%;
    display: inline-block;
    vertical-align: top
}

.PanelTitle {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    color: white;
    padding: 1.25em 1.25em 0em 1.25em;
}

.PortfolioOverviewTitle {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    color: white;
    padding: 1.25em 1.25em 0em 1.25em;
    font-weight: normal;
}

.PortfolioOverviewValue {
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    color: #ffffff;
    padding: 0.5em 1.25em 0em 1.25em;
}


.PortfolioBalanceFont {
    font-family: "Roboto", sans-serif;
    font-size:  0.7em;
    color:#C2BEBE;
    padding: 1.25em 1.25em 0em 1.25em;
}

.PortfolioDateFont {
    font-family: "Roboto", sans-serif;
    font-size:  0.7em;
    color:#C2BEBE;
    padding: 1.25em 1.25em 0em 1.25em;
    font-weight: normal;
}


.PortfolioPriceIncrease {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    color: #00FF94;
    padding: 1.25em 1.25em 0em 1.25em;
}




.TableTitleFont4 > tr > th{
    font-family: "Roboto", sans-serif;
    font-size:  0.7em;
    color:#C2BEBE;
    padding: 1.25em;
    font-weight: normal;
    width:17.8%;
}

.ButtonContainer {

}
  

.CancelButton{
    height: 3em;
    width: 7em;
    background-color: #ff4b4b;
    color: white;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
.GreenBuyButton{
    height: 3em;
    width: 7em;
    background-color: green;
    color: white;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }


  .RedSellButton{
    height: 3em;
    width: 7em;
    background-color: #ff4b4b;
    color: white;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .GoldRankButton{
    height: 3em;
    width: 15em;
    background-color: #FFC737;
    color: white;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .BlueWatchlistButton{
    height: 3em;
    width: 10em;
    background-color: #3789FD;
    color: white;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  


.TableTitleFont3 > tr > th{
    font-family: "Roboto", sans-serif;
    color:#C2BEBE;
    padding: 1.25em;
    font-weight: normal;
}


.TableTitleFont2 > tr > th{
    font-family: "Roboto", sans-serif;
    font-size:  0.7em;
    color:#C2BEBE;
    padding: 1.25em;
    font-weight: normal;
    width:14.9%;
}


.TableTitleFont > tr > th{
    font-family: "Roboto", sans-serif;
    font-size:  0.7em;
    color:#C2BEBE;
    padding: 1.25em;
    font-weight: normal;
    width:10%;
}

.TableTitleFont {
    margin-left: 0.9em;
}




.line{
    // border: 0.5em solid white;
    height: 0.05em;
    margin: 1.25em 1.25em 0em 1.25em;;
    width:97%;
    background-color: white;
}

.OrderRowPanel{
    height: 4.6em;
    width: 96%;
    background-color:#140f37bb;
    margin-left: 1.25em;
    margin-bottom: 1.25em;
    border-radius: 0.625em;
}

.WatchlistRowPannel {
    height: 4.6em;
    width: 96%;
    background-color:#140f37bb;
    margin-left: 1.25em;
    margin-bottom: 1.25em;
    border-radius: 0.625em;
}

.HoldingsRowPanel{
    height: 4.6em;
    width: 96%;
    background-color:#140f376e;
    margin-left: 1.25em;
    margin-bottom: 1.25em;
    border-radius: 0.625em;
}

.PortfolioOverviewPanel{
    height: 16em;
    width: 95%;
    background-color:#31237762;
    margin-left: 1.5em;
    margin-bottom: 1.25em;
    border-radius: 0.625em;
}


// .table > tr > th{
//     font-family: "Roboto", sans-serif;
//     font-size:  0.625em;
//     color:#C2BEBE;
//     font-weight: normal;
// }


.GreyCancelledButton {
    height: 3em;
    width: 7em;
    background-color: rgb(51, 51, 51);
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GreenCompletedButton{
    height: 3em;
    width: 7em;
    background-color: green;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}


