@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.side1 {
  width: 50%;
  float: left;
  font-family: "Roboto", sans-serif;
  margin-top: 2%;
  margin-left: 2%;
  height: 87%;
}

.side1 .BackgroundPanel1 {
  background-image: linear-gradient(#2b1f66, #130f4b, #1e1a55);
  height: 25%;
  width: 100%;
  border-radius: 0.625em;
  display: inline-block;
  vertical-align: top;
  color: white;
  padding-left: 1%;
  padding-top: 1%;
}

.BackgroundPanel1 h1 {
  font-size: 2.5vw;
}

.BackgroundPanel1 p {
  font-size: 2.5vw;
}

.Panel2 {
  height: 73%;
  width: 100%;
  padding: 1%;
  display: block;
}

.secondpanel h4 {
  font-size: 40px;
  color: lightgray;
}

.secondpanel p {
  font-size: 40px;
  color: green;
}

.headingTable {
  color: lightgray;
}

.infoTable {
  color: white;
}

.shareInfo {
  font-size: 40px;
  width: 100%;
}

.Panel3 {
  background-image: linear-gradient(#2b1f66, #130f4b, #1e1a55);
  height: 16em;
  width: 100%;
  border-radius: 0.625em;
  margin-top: 3em;
  display: block;
  color: white;
  padding-top: 3%;
  padding-left: 3%;
}

.Panel3 h2 {
  color: #ffffff;
  font-size: 45px;
}

.Panel3 .quantityContainer button {
  background-color: darkgrey;
  color: white;
  font-size: 30px;
  font-weight: bolder;
  width: 30%;
  height: 100%;
  display: inline-block;
  padding: 0px;
  border: none;
}

.Panel3 .quantityContainer button:hover {
  background-color: grey;
}
.quantityContainer {
  text-align: center;
  height: 20%;
  width: 100%;
  margin-top: 20px;
}

.quantityNumber {
  height: 100%;
  width: 20%;
  background-color: white;
  color: black;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  line-height: 45px;
  font-size: 28px;
  font-weight: bold;
}

.order {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.order button {
  border-radius: 0.725em;
  color: white;
  font-size: 30px;
  font-weight: bolder;
  height: 2em;
  width: 27%;
  margin-right: 30px;
}

.button1 {
  display: inline;
}

.button2 {
  display: inline;
}

.button3 {
  display: inline;
}

.button1 button {
  background-color: #2ac811;
  border: none;
}

.button1 button:hover {
  background-color: darkgreen;
}

.button2 button {
  background-color: #3789fd;
  width: 33%;
  border: none;
}

.button2 button:hover {
  background-color: darkblue;
}

.button3 button {
  background-color: #ff4b4b;
  border: none;
}

.button3 button:hover {
  background-color: darkred;
}

.funds {
  color: yellow;
  padding-top: 10px;
  font-size: 45px;
}

.side2 {
  background-image: linear-gradient(#2b1f66, #130f4b, #1e1a55);
  height: 87%;
  width: 45%;
  border-radius: 0.625em;
  margin-top: 2%;
  display: inline-block;
  vertical-align: top;
  color: white;
  padding-right: 1%;
  align-content: center;
  margin-left: 2%;
}

.image img {
  width: 100%;
}

.PanelTitle {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  color: white;
  padding: 1.25em 1.25em 0em 1.25em;
}

.TableTitleFont2 > tr > th {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  color: #c2bebe;
  padding: 1.25em;
  font-weight: normal;
  width: 1000px;
}

.TableTitleFont > tr > th {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  color: #c2bebe;
  padding: 1.25em;
  font-weight: normal;
  width: 1000px;
}

.TableTitleFont {
  margin-left: 0.9em;
}

.line {
  // border: 0.5em solid white;
  height: 0.05em;
  margin: 1.25em 1.25em 0em 1.25em;
  width: 97%;
  background-color: white;
}

.OrderRowPanel {
  height: 5em;
  width: 97%;
  background-color: #140f37bb;
  margin-left: 1.25em;
  margin-bottom: 1.25em;
  border-radius: 0.625em;
}

.HoldingsRowPanel {
  height: 5em;
  width: 97%;
  background-color: #140f376e;
  margin-left: 1.25em;
  margin-bottom: 1.25em;
  border-radius: 0.625em;
}

.GreyCancelledButton {
  height: 3em;
  width: 7em;
  background-color: rgb(51, 51, 51);
  border-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.GreenCompletedButton {
  height: 3em;
  width: 8em;
  background-color: green;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side2 button {
  height: 2.5em;
  width: 11em;
  background-color: #3789fd;
  color: white;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-decoration: none;
  border: 0px;
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.graphHeadings {
  position: relative;
  bottom: 0;
  width: 100%;
  display: inline-block;
}

.graphs h3 {
  position: relative;
  width: 100%;
  top: 0;
  display: inline-block;
}
