@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap%22");
.PageContainer {
  height: 90%;
  text-align: center;
  position: relative;
  width: 100%;
}

.PasswordChangeContainer {
  background-image: linear-gradient(#2b1f66, #130f4b, #1e1a55);
  height: 640px;
  width: 621px;
  border-radius: 0.625em;
  position: absolute;
  top: 0;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  font-family: "Roboto", sans-serif;
}

.PasswordChangeContainer .Logo {
  margin-top: 50px;
  height: 114px;
  width: 114px;
  padding: 0px;
}

.PasswordTitle {
  color: white;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-top: 30px;
}

.PasswordUpdateForm {
}

.PasswordUpdateForm > * {
  display: block;
  margin: 0 auto 0 auto;
}

.PasswordUpdateForm > .FormLabel {
  color: white;
  margin-top: 30px;
  font-weight: bold;
  font-size: 16px;
}

.PasswordUpdateForm > div > .inputTextfield {
  margin-top: 10px;
  height: 50px;
  width: 480px;
  border-radius: 15px;
  border: none;
  padding-left: 20px;
  font-size: 16px;
  background-color: #2e3558;
  color: white;
}

.PasswordUpdateForm > .UpdateButton {
  border-radius: 25px;
  border: none;
  color: white;
  background-color: #3789fd;
  width: 210px;
  height: 55px;
  position: absolute;
  top: 270px;
  left: 200px;
}

.PasswordErrorMessage {
  color: #ff4b4b;
  margin-top: 5px;
  font-size: 14px;
}

.passowrdToolTip {
  position: relative;
  display: inline-block;
}

.passowrdToolTip .passwordToolTipText {
  visibility: hidden;
  width: 200px;
  background-color: darkorchid;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 15px;
  padding: 20px;
  border-radius: 0px 25px 25px 25px;

  /* Position the tooltip */
  position: absolute;
  right: -210px;
  top: 20px;
  z-index: 1;
}

.passowrdToolTip:hover .passwordToolTipText {
  visibility: visible;
}
